.single-violation {
    background: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.single-violation-header {
    width: 48%;
    padding: 10px;
    text-align: center;
    color: #0065A8;
}

.single-violation-media {
    width: 48%;
    padding: 0px 15px 0px 15px;
}


@media ( max-width: 768px ) {
    .single-violation-media {
        width: 100%;
    }

    .single-violation-header {
        width: 100%;
    }
}

