.card {
    background: white !important;
    width: 24rem;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.card-button {
    align-items: center;
}

.violation-card-header {
    text-align: center;
    font-weight: bold;
    color: #0065A8;
}